*.swp
*.o
*.cmd
*.elf
*.img
*.dep
*.bin
*.ko
*.mod.c
*.order
*.symvers
.tmp_versions/
application/aaa
sideloader/offload_console/console_proxy
sideloader/offload_proxy/offload_local_proxy
sideloader/utils/cmd
sideloader/utils/corestatus
sideloader/utils/lkload
sideloader/utils/off
sideloader/utils/print
sideloader/utils/print_log
sideloader/utils/wake
tags
utility/imagemaker/imagemaker
utility/imagemaker/qimagemaker
ipocap_set_limit
*.diff
